<aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p><%= __('sidebar.follow') %>:</p>
        <ul class="social-links">
            <li>
                <a class="social-tooltip" href="https://maimai.cn/profile/detail?dstu=91060020" target="_blank" rel="noopener">
                    <img  src="https://android-artworks.25pp.com/fs08/2023/01/18/10/110_afc9f92b09f56f6c00981ec069a6e017_con_130x130.png" style="width:24px;height:24px;">
                </a>
            </li>
            <% for (var i in theme.customize.social_links) { %>
                <% if (theme.customize.social_links[i]) { %>
                <li>
                    <a class="social-tooltip" title="<%= i %>" href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" rel="noopener">
                        <i class="icon fa fa-<%= i %>"></i>
                    </a>
                </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <% if (is_post()) { %>
        <%- partial('post/nav', {post: page}) %>
    <% } %>
    <div class="widgets-container">
        <% if (theme.widgets) { %>
            <% theme.widgets.forEach(function(widget) { %>
                <%- partial('widget/' + widget, {post: page}) %>
            <% }) %>
        <% } %>
    </div>
</aside>
